body{
  margin: 0;
  padding: 0;
  background: #000000;
}

#particles-js
{
  height: 100%;
  width: 100%;
  position:fixed;
}


#over img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.8;

  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
